header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
    background-color: #455A64;
    width: 100%;
    color: white;
    font-family: Arial;
}

.logo {
    width: 200px;
    font-size: 20px;
    padding-left: 2%;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
    font-size: 20px;
}

    nav ul li {
    }

        nav ul li a {
            padding: 10px 30px;
            border-radius: 10px;
            font-weight: bold;
            transition: .5s;
            color: white;
            text-decoration: none;
        }







@media only screen and (min-device-width: 0px) and (max-device-width: 480px) {

    header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0px;
        background-color: #455A64;
        width: 100vw;
        color: white;
        font-family: Arial;
    }

    nav ul {
        list-style: none;
        display: flex;
        gap: 0px;
        font-size: 8px;
    }

    .logo {
        width: 200px;
        font-size: 10px;
        padding-left: 2%;
        font-weight: bold;
    }

    nav ul li a {
        padding: 2px 5px;
    }
}
#Image1 {
    width: 48%;
    height: 100%;
}

.containerimage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.auto-style1 {
    text-align: center;
}

.auto-style2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    text-align: center;
}

#header {
    font-size: 4rem;
    margin: 0px;
    padding: 0px;
}

#textforadmain {
    font-size: 1.5rem;
}
#Image1 {
    width: 48%;
    height: 100%;
}

.containerimage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.auto-style1 {
    text-align: center;
}

.auto-style2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    text-align: center;
}

#header {
    font-size: 4rem;
    margin: 0px;
    padding: 0px;
}

#textforadmain {
    font-size: 1.5rem;
}

