body {
    background-color: white;
    color: #303F46;
}

.login {
    padding-top: 60px;
    height: 450px;
}

    .login .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

        .login .container .image {
            width: 80%;
            padding-top: 60px;
        }

        .login .container .user {
            height: 70%;
            width: 70%;
            text-align: center;
        }



.inputInfo {
    border-radius: 25px;
    border: 1px solid #DB9F99;
    width: 50%;
    height: 15%;
    text-align: center;
}

#login {
    border: 1px solid #DB9F99;
    background-color: #EDCFCC;
}

@media only screen and (max-device-width:480px) {
    body {
        height: 100vh;
    }

    .login {
        padding: 10%;
    }

        .login .container {
            flex-direction: column-reverse;
            gap: 40px;
        }

            .login .container .user {
                height: 70%;
                width: 500px;
                text-align: center;
                align-items: center;
                padding: 0px;
            }

            .login .container .image {
                display: none;
            }
}
